#main_div{
    
        display: flex;
        gap: 20px;
        
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        width: 70%;
        
        margin: auto;
      
}
#first{
    
    margin-left: -180px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:50px;
    padding: 80px;
    
   
}
#first img{
    width: 70%;
    border-radius: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}
#first img:hover{
    width: 140px;
    
}
#second{
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}
#third{
    outline: auto;
    padding: 8px;

}